.home {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    min-height: 100vh;
    background-color: #000000;
    box-sizing: border-box;
}

.home .top {
    flex: 1 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #FFFFFF29;
    border-radius: 14px;
}

h2 {
    font-family: PingFang SC;
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0.05em;
    text-align: center;
    flex: 1 100%;
    margin-bottom: 40px;
}

.top ul {
    flex: 1 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 36px;
    margin-bottom: 40px;
}

.top ul li {
    flex: 1 20%;
    border: 1px solid #FFFFFF1A;
    border-radius: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 32px;
    padding: 12px 0;
}

.top ul li img {
    width: 28px;
    height: 28px;
    vertical-align: bottom;
}



.top ul li .t span {
    font-family: PingFang SC;
    font-size: 24px;
    font-weight: 500;
    line-height: 33.6px;
    letter-spacing: 0.05em;
    text-align: left;
    margin-left: 7px;
}

.top ul li .b {
    flex: 1 100%;
    text-align: center;
    margin-top: 12px;
    font-family: PingFang SC;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;

}

.top ul li:last-child {
    margin-right: 0px;
}

.bot {
    flex: 1 100%;
    display: flex;
    flex-wrap: wrap;
}

.tab {
    color: #fff;
    flex: 1 100%;
}

.tab .ant-tabs-tab {
    color: #fff !important;
    font-family: PingFang SC;
    font-size: 17px;
    font-weight: 600;
    line-height: 23.8px;
    letter-spacing: 0.05em;
    text-align: left;
    position: relative;
}

.tab .ant-tabs-tab:hover::after {
    height: 2px;
    position: absolute;
    content: '';
    display: block;
    bottom: 1px;
    width: 100%;
    background: linear-gradient(90deg, #000000 8.74%, #00FFA2 50.13%, #000000 90.62%);
}


.tab .ant-tabs-nav::before {
    display: none;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #fff !important;
}

.tab .ant-tabs-ink-bar-animated {
    background: linear-gradient(90deg, #000000 8.74%, #00FFA2 50.13%, #000000 90.62%);
}

.ant-tabs-content {
    width: 100%;
}

.ant-tabs-tabpane {
    display: flex;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .top ul li {
        flex: 1 40% !important;
        margin-right: 0px !important;
    }

    .top ul li:nth-child(2n+1) {
        margin-right: 32px !important;
    }

    .top ul li:nth-child(1),
    .top ul li:nth-child(2) {
        margin-bottom: 20px !important;
    }

    .header .right {
        flex-wrap: nowrap !important;
    }
}

@media screen and (max-width: 666px) {
    .top ul li {
        flex: 1 100% !important;
        margin-right: 0px !important;
    }

    .top ul li:nth-child(1),
    .top ul li:nth-child(2),
    .top ul li:nth-child(3) {
        margin-right: 0px !important;
        margin-bottom: 20px !important;
    }
}